<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>{{"DASHBOARD" | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project-list">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>{{"SURVEY" | translate }} </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>{{"SETTINGS" | translate }} </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
