<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{"DOWNLOAD_LIST" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="start" style="text-align:center">
    <div class="arrow_down">
      <ion-icon name="arrow-down-outline"></ion-icon>
    </div>
    <p>{{"DOWNLOAD_TXT" | translate }}<br/><strong>{{ project_name }}</strong></p>
    <ion-button color="medium" (click)="startDownload();">
      <ion-icon style="margin-right:10px;" name="cloud-download-outline"></ion-icon> {{"DOWNLOAD_BTN" | translate }}
    </ion-button>
  </div>

  <div *ngIf="!start">
    <ion-spinner style="margin-left:43%;" *ngIf="loading" name="dots"></ion-spinner>

    <ion-list>
      <ion-item *ngIf="deployment_total">
        <ion-label>
          <h3>Agent Deployment</h3>
          <p>{{ deployment_total_rows }}/<strong>{{ deployment_total }}</strong></p>
          <small style="color:#9fa0a2;">{{ deployment_data_date }}</small>
          <ion-progress-bar *ngIf="deployment_spinner" color="danger" value={{deployment_progress}}></ion-progress-bar>
        </ion-label>
        <ion-icon *ngIf="deployment_row_less" color="danger" slot="end" name="alert-circle-outline"></ion-icon>
        <ion-icon *ngIf="deployment_row_ok" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>

      <ion-item *ngIf="scope_total">
        <ion-label>
          <h3>Scope Partner</h3>
          <p>{{ scope_total_rows }}/<strong>{{ scope_total }}</strong></p>
          <small style="color:#9fa0a2;">{{ scope_data_date }}</small>
          <ion-progress-bar *ngIf="scope_spinner" color="danger" value={{scope_progress}}></ion-progress-bar>
        </ion-label>
        <ion-icon *ngIf="scope_row_less" color="danger" slot="end" name="alert-circle-outline"></ion-icon>
        <ion-icon *ngIf="scope_row_ok" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
  
      <ion-item *ngIf="task_total">
        <ion-label>
          <h3>Project Task</h3>
          <p>{{ task_total_rows }}/<strong>{{ task_total }}</strong></p>
          <small style="color:#9fa0a2;">{{ task_data_date }}</small>
          <ion-progress-bar *ngIf="task_spinner" color="danger" value={{task_progress}}></ion-progress-bar>
        </ion-label>
        <ion-icon *ngIf="task_row_less" color="danger" slot="end" name="alert-circle-outline"></ion-icon>
        <ion-icon *ngIf="task_row_ok" color="success" slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>