.question_numb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color: #df4759;
    margin-right: 10px;
}

.question_numb_done {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color: #42ba96;
    margin-right: 10px;
}